* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: disc;
}
p{
    margin: 0;
    padding: 0;
    color: #161c2db3;
    font-size: 1.125rem;
    line-height: 28px;
}
h1,h2,h3,h4,h5,h6{
    color: #232121;
    margin: 0;
    padding: 0;
    
}


.title-Pacifico {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}
.title{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}
/* HEADER */
header{
    position: absolute;
    top: 0;
    left:0;
    z-index: 100;
    width: 100%;

}
.form-inline .form-control{
    padding: 10px 50px 10px 20px;
}
.navbar{
    padding: 40px 0 20px 0;
    align-items: center;
}
.navbar-brand{
    font-size: 36px;
    font-weight: 700;
}
.navbar .search__icon{
    position: absolute;
    font-size: 15px;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.form-inline{
    position: relative;
}
.navbar .form-control{
    height: 45px;
    font-size: 16px;
}
.navbar__right{
    display: flex;
}
.navbar h1{
    font-weight: 700;
    font-size: 35px;
}
.navbar h1 a{
    text-decoration: none;
    color: white;
}
.navbar-toggler i{
    font-size: 30px;
    color: white;
}
.collapse .navbar-nav li a{
    color: white;
    font-weight: 700;
    font-size: 20px; 
}
#portNavbar a{
    text-align: center;
}
#portNavbar .nav-link{
    color: white;
    transition: all .5s;
}
#portNavbar .nav-item:hover .nav-link{
    color: #ff6600;
}



/* CAROUSEL */
.carousel{
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
    height: 700px;
}
.carousel .banner__text{
    position: relative;
    top: 200px;
    max-width: 600px;
    text-align: left;
    margin: 0;
    left: 80px;
}
.carousel .banner__text h3{
    color: white;
    font-size: 50px;
    font-weight: 700;
}
.item__banner{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    position: relative;
    padding: 12px 45px;
   margin: 40px 0 0 0;
   display: inline-block;
   border-radius: 5px;
   transition: all 0.5s;
}
.item__banner a{
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}
.carousel .banner__text .item__banner i{
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
}
.item__banner:hover {
    background-color: white;
}
.item__banner:hover a{
    color: #ff6600;
}
.item__banner:hover i{
    color: #ff6600;
}
/* ABOUT */



/* AGENT */
.agent{
    background:#ff6600 ;
}
.agent-image{
    background-image: url(../img/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
    z-index: 1;
}
.agent-image::before{
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.title-agent{
    color: #fff;
}
.agent-info p{
    color: #ffdfc9;
}
.agent-item{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.agent-details i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    color: #ff6600;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.agent-details a{
    display: block;
    color: #232121;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 1.25rem;
}
.agent-details p{
    color: #ffdfc9;
}
.agent-details:hover i{
    color: #ffc600 ;
}
.agent-details:hover a{
    text-decoration: none;
}
/* CATEGORIES */
.categories{
    background: #f7f7f7;
}
.categories .tittle{
    text-align: center;
}

.categories .card__img{
    position: relative;
}
.categories .card__img:hover{
    opacity: 0.85;
    transition: all 0.5s;
}
.categories .card__img img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.categories .card__info a{
    text-decoration: none;
}
.categories .card__info span{
    color: #ffc600;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}
.categories .card__info a h4{
    font-size: 22px;
    line-height: 30px;
    color: white;
    font-weight: 700;
}
.categories .card__info{
    position: absolute;
    bottom: 0;
    left: auto;
    width: 95%;
    transform: translate3d(0, 10%, 0);
    transition: all .3s;
}
/* HOMEPAGE */
.homepage{
    background: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 50;
}
.middle::before{
    content: "";
    background-color: rgb(6 15 19 / 66%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}
.homepage .contact h3{
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.homepage .contact .item__contact {
    background:transparent;
    color: white;   
    text-decoration: none;
    
    
}
.homepage .contact .item__contact .btn-stye{
    padding: 15px 45px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    border-radius: 5px;
    border: 2px solid white;
    transition: all 0.5s;
    text-decoration: none;
}
.homepage .contact .item__contact{
    padding-top: 50px;
}
.homepage .contact .item__contact i{
    font-size: 15px;
    padding-left: 5px;
}
.homepage .contact .item__contact .btn-white{
    color: white;
}
.homepage .contact .item__contact .btn-primary{
    background-color: #ff6600;
    border: 2px solid #ff6600;
    transition: all 0.3s;
}
.homepage .contact .item__contact .btn-primary:hover{
    color: white;
    background-color: #ff6600;
    opacity: 0.8;
}
.homepage .contact .item__contact .btn-white:hover{
    background-color: white;
    color: #ff6600;
}





@media (min-width:1200px) {
    .container{
        max-width: 1200px;
    }
    
}