* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ff6600;
    transition: all .5s;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: disc;
}

p {
    margin: 0;
    padding: 0;
    color: #161c2db3;
    font-size: 1.125rem;
    line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #232121;
    margin: 0;
    padding: 0;

}


.title-Pacifico {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.title {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.btn-primary {
    color: #fff;
    background-color: #ff6600;
    border: 2px solid #ff6600;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ff6600;
    border: 2px solid #ff6600;
    opacity: 0.8;
}

.btn-style,
.btn-white {
    padding: 15px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 7px;
    border: 2px solid transparent;
}

.btn-white {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.btn-white:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #ff6600;
}

/* HEADER */
header#site-header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    background: rgb(6 3 0 / 77%);
}

.overlay .navbar-nav {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: #ff6600;
    color: #fff;
    border-radius: var(--border-radius);
}

.none {
    display: none;
}

.mystyle {
    position: fixed;
    width: 0;
    height: 0;
    overflow-y: scroll;
    top: 0;
    left: 0;
    background: transparent;
}

.form-inline .form-control {
    padding: 10px 50px 10px 20px;
}

.navbar {
    padding: 40px 0 20px 0;
    align-items: center;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
}

.navbar-brand {
    font-size: 36px;
    font-weight: 700;
}

.navbar .search-icon {
    position: absolute;
    font-size: 15px;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

.form-inline {
    position: relative;
}

.navbar .form-control {
    height: 45px;
    font-size: 16px;
}

.navbar-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.navbar h1 {
    font-weight: 700;
    font-size: 35px;
}

.navbar h1 a {
    text-decoration: none;
    color: white;
}

.navbar-toggler i {
    font-size: 30px;
    color: white;
}

.collapse .navbar-nav li a {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

#portNavbar a {
    text-align: center;
}

#portNavbar .nav-link {
    color: white;
    transition: all .5s;
}

#portNavbar .nav-item:hover .nav-link {
    color: #ff6600;
}



/* CAROUSEL */
.carousel {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
    height: 700px;
}

.carousel .banner-text {
    display: grid;
    align-items: center;
    height: 100%;
}

.banner-info {
    max-width: 600px;
    text-align: left;
}

.banner-info h3 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    color: white;
}

.banner-info p {
    font-size: 16px;
    line-height: 28px;
    color: white;
}

.banner-info a {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    position: relative;
    padding: 12px 45px;
    margin: 40px 0 0 0;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.5s;
}

.banner-info a {
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.banner-info a span {
    margin-left: 10px;
}

/* .btn-white:hover {
    background: white;
    border: 2px solid white;
    color: #ff6600;
}

.btn-white:hover i {
    color: #ff6600;
} */

/* ABOUT */



/* AGENT */
.agent {
    background: #ff6600;
}

.agent-image {
    background-image: url(../img/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
    z-index: 1;
}

.agent-image::before {
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.title-agent {
    color: #fff;
}

.agent-info p {
    color: #ffdfc9;
}

.agent-item {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.agent-details i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    color: #ff6600;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.agent-details a {
    display: block;
    color: #232121;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 1.25rem;
}

.agent-details p {
    color: #ffdfc9;
}

.agent-details:hover i {
    color: #ffc600;
}

.agent-details:hover a {
    text-decoration: none;
}

.agent .row {
    margin-right: 0;
}

/* CATEGORIES */
.categories {
    background: #f7f7f7;
}

.categories .tittle {
    text-align: center;
}

.categories .card-img {
    position: relative;
}

.categories .card-img:hover {
    opacity: 0.85;
    transition: all 0.5s;
}

.categories .card-img img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.categories .card-info a {
    text-decoration: none;
}

.categories .card-info span {
    color: #ffc600;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}

.categories .card-info a h4 {
    font-size: 22px;
    line-height: 30px;
    color: white;
    font-weight: 700;
}

.categories .card-info {
    position: absolute;
    bottom: 0;
    left: auto;
    width: 95%;
    transform: translate3d(0, 10%, 0);
    transition: all .3s;
}

/* HOMEPAGE */
.homepage {
    background: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 50;
}

.middle::before {
    content: "";
    background-color: rgb(6 15 19 / 66%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}

.homepage .contact h3 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.homepage .contact .item-contact {
    background: transparent;
    color: white;
    text-decoration: none;


}

/* .homepage .contact .item-contact .btn-stye {
    padding: 15px 45px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    border-radius: 5px;
    border: 2px solid white;
    transition: all 0.5s;
    text-decoration: none;
} */

.homepage .contact .item-contact {
    padding-top: 50px;
}

.homepage .contact .item-contact i {
    font-size: 15px;
    padding-left: 5px;
}

/* .homepage .contact .item-contact .btn-white {
    color: white;
}

.homepage .contact .item-contact .btn-primary {
    background-color: #ff6600;
    border: 2px solid #ff6600;
    transition: all 0.3s;
}

.homepage .contact .item-contact .btn-primary:hover {
    color: white;
    background-color: #ff6600;
    opacity: 0.8;
}

.homepage .contact .item-contact .btn-white:hover {
    background-color: white;
    color: #ff6600;
} */


/* SERVICES */
.services-item {
    padding: 40px 40px;
    border-radius: 9px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.04);
    background-color: #fff;
    position: relative;
    border: 1px solid #eee;
}

.services-box {
    display: flex;
    grid-template-columns: auto 1fr;
    gap: 30px;
}

.services-box i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: rgba(130, 115, 252, 0.04);
    text-align: center;
    font-size: 20px;
    color: #ff6600;
    border-radius: 8px;
    transition: all .5s;
}

.services-info h4 a {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5px;
    display: block;
    transition: all .5s;
}

.services-item:hover .services-box i {
    background: #ff6600;
    color: #fff;
}

.services-info h4 a:hover {
    color: #ff6600;
    text-decoration: none;

}

/* STATS */
.stats {
    margin-top: -70px;
    z-index: 100;
    position: relative;
}

.stats-item {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 7px;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
}

.stats-item i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
    color: #fff;
    background-color: #ff6600;
    border-radius: 50%;
    text-align: center;
}

.timer {
    font-size: 2.6rem;
    font-weight: 600;
    color: #232121;
}

p.count-text {
    text-transform: capitalize;
    color: 161c2db3;
    font-weight: 500;
}

/* VIDEO */
#video .video-blog {
    background: white;
}

#video .video-info {
    background: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    position: relative;
    z-index: 1;
    align-items: center;
    height: 500px;
    border-radius: 5px;
}

#video .video-info::before {
    content: "";
    background: rgb(16 15 19 / 60%);
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 5px;
}

#video .video-info a {
    color: #ff6600;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
}

#video .video-play-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 75px;
    border-radius: 50%;
    background: white;
    color: #ff6600;
    border: transparent;
    transition: all .3s;
    animation: ripple 1s linear infinite;
}

#video .video-play-icon:hover {
    transform: scale(1.2);
    transition: all .3s;
    background: #ff6600;
    border: transparent;
    color: white;
}

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.mfp-close,
.mfp-close:active {
    top: -40px;
}

.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

/* BLOG */
#blog-color {
    background: #f7f7f7;
}

.blog .card {
    position: relative;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: 0;
}

.blog .card-header {
    border: none;
}

.blog-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 7px;
}

.blog-pos {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.blog-pos:hover a {
    text-decoration: none;
}

a.blog-des {
    display: block;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #232121;
    margin-top: 25px;
    margin-bottom: 15px;
}

.blog .p-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.blog .p-info {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.blog .p-info a {
    font-weight: 700;
    color: #232121;
}

.blog .read {
    font-weight: 700;
    color: #232121;
    opacity: .9;
    letter-spacing: 1px;
}

.blog .read:hover {
    color: #ff6600;
}

/* TESTIMONIALS */
#testimonials .testimonials-inner {
    max-width: 700px;
    margin: auto;
}

#testimonials .comment-img {
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

#testimonials img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

#testimonials span {
    display: block;
    text-align: center;
    color: #ff6600;
    font-size: 30px;
}

#testimonials .testimonials-caption {
    margin-bottom: 16px;
    text-align: center;
}

#testimonials .testimonials-caption p {
    font-size: 24px;
    line-height: 36px;
    color: #000;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
}

#testimonials .testimonials-caption p::before {
    content: open-quote;
}

#testimonials .testimonials-caption p::after {
    content: close-quote;
}

#testimonials .testimonials-item p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    font-family: 'Quicksand', sans-serif;
    ;
}

#testimonials .testimonials-center h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

#testimonials .owl-carousel {
    width: 100%;
    z-index: 1;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #d8d8d8;
    margin: 5px 5px;
    display: block;
    transition: opacity .2s ease;
    position: relative;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #ff6600;
}

#testimonials .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    background: none;
}

/* FOOTER */
.footer {
    background-color: #000;
}

.footer a.brand {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.footer-social i {
    height: 35px;
    width: 35px;
    line-height: 35px;
    color: #ff6600;
    text-align: center;
    font-size: 16px;
    border-radius: 7px;
    background: #fff;
    transition: all .5s;

}

.footer p {
    font-size: 17px;
    line-height: 25px;
    color: #a5a2a1;
}

.footer h6.footer-title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    color: #fff;
}

.footer a {
    font-size: 17px;
    line-height: 25px;
    color: #a5a2a1;
}

.footer-item a:hover {
    color: #ff6600;
}

.footer-social i:hover {
    background-color: #ff6600;
    color: #fff;
}

.footer input {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: rgba(22, 28, 45, 0.8);
    background: #fff;
    border-radius: 7px;
}

.copy-right {
    background-color: #000;
}

p.copyright {
    color: #fff;
    font-size: 17px;
    align-self: center;
}
.footer-logo a:hover{
    color: #ff6600;
}

.backtotop {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: white;
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all .2s;
    text-align: center;
    background-color: #ff6600;
    background-size: 200%;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}



@media (min-width:1200px) {
    .container {
        max-width: 1200px;
    }

}

.icon-container {
    display: flex;
    align-items: center;
    font-size: 25px;
}

#myBody {
    background-color: white;
    color: white;

}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
    color: white;
}

/* Dark Theme*/
.dark#myBody {
    background-color: #404040;
}

.dark#myBody h3 {
    color: #eee;
}

.dark#myBody p {
    color: #c2d0da;
}

.dark#myBody a {
    color: white;
}


.dark#myBody .agent p {
    color: #ffdfc9;
}

.dark#myBody .categories {
    background: #404040;
}

.dark#myBody .services-item {
    background: #282828;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark#myBody .stats-item {
    background: #232220;
}

.dark#myBody .timer {
    color: white
}

.dark#myBody .video-blog {
    background: #232220;
}

.dark#myBody .blog {
    background: #282828;
}

.dark#myBody .card-body {
    background: #282828;
}

.dark#myBody .footer-social i {
    background: #232220;
}

.dark#myBody .footer input {
    background: #232220;
}

.dark#myBody .footer-logo p {
    color: #a5a2a1;
}

.dark#myBody .footer-item a {
    color: #a5a2a1;
}

.dark#myBody .form-control {
    background: #232220;
    border: 1px solid #232220;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .card {
    background-color: #404040;
    ;
    color: white;
}

.dark#myBody .btn-white:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #ff6600;
}
.dark#myBody .services-info a:hover{
    color: #ff6600;
}
.dark#myBody .p-footer a:hover{
    color: #ff6600;
}
.dark#myBody .footer-social i:hover{
    background-color:#ff6600 ;
    color: #fff;
}
.dark#myBody .footer-logo a:hover{
    color: #ff6600;
}
.dark#myBody .footer-item a:hover{
    color: #ff6600;
}

/* RESPONSIVE */
@media screen and (max-width:600px) {
    .navbar .form-control {
        display: none;
    }

    .navbar .search-icon {
        display: none;
    }

    .title-Pacifico {
        font-size: 16px;
    }

    p {
        font-size: 16px;
        line-height: 26px
    }

    .title {
        font-size: 30px;
        line-height: 38px;
    }
}

@media screen and (max-width:640px) {
    .stats-item {
        text-align: center;
        padding: 30px 10px;
    }

    .timer {
        font-size: 30px;
    }
}

@media screen and (max-width:675px) {
    #testimonials .testimonials-caption p {
        font-size: 22px;
        line-height: 32px;
    }

}

@media screen and (max-width:736px) {
    .homepage .contact h3 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media screen and (max-width:800px) {
    .categories .card-info a h4 {
        font-size: 18px;
        line-height: 28px;
    }

    .categories .card-info span {
        font-size: 16px;
    }
}

@media screen and (max-width:991px) {
    .blog a.blog-des {
        font-size: 20px;
        line-height: 30px
    }
}

@media screen and (max-width:992px) {

    .footer .footer-social,
    .copyright {
        text-align: center;
    }

    .footer .copyright a {
        text-align: center;
    }
}

@media screen and (max-width:1080px) {
    .services-info h4 a {
        font-size: 20px;
    }

    .homepage .contact h3 {
        font-size: 40px;
        line-height: 50px;
        max-width: 100%;
    }
}

@media screen and (max-width:1200px) {
    h2 {
        font-size: 15px;
    }
}

@media (max-width:480px) {

    .title-w3l,
    .title-w3l.two {
        font-size: 26px !important;
        line-height: 36px;
    }

    .btn-white,
    .btn-style {
        padding: 10px 21px;
    }

    .title-left {
        font-size: 22px;
        line-height: 32px;
    }
}

@media (max-width: 375px) {

    .btn-white,
    .btn-style {
        font-size: 16px;
    }

}